style type="text/css" id="wp-custom-css">
			.wd-logo img {
	padding-top: 0px !important;
	padding-bottom: 10px !important;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {
background: none !important;
}

.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input, .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:hover {
border-color: #ff6a00 !important;
}

.wd-nav-secondary:not(.wd-offsets-calculated)>li:not(.menu-simple-dropdown), li.menu-item.menu-item-has-children.wd-event-hover {
	width: 90px !important;
}

.wd-dropdown-menu.wd-design-default {
	--wd-dropdown-width: auto !important;
}

.wd-sub-menu li>a {
	color: var(--nav-color);
	padding-right: 18px;
}

.woocommerce-multi-currency.wmc-shortcode .wmc-currency {
	background-color: #e6effd !important;
}

.wd-nav.wd-style-bg {
    --nav-color-hover: var(--wd-primary-color) !important;
    --nav-gap: 5px;
}

.woocommerce-multi-currency.wmc-shortcode .wmc-currency.wmc-active, .woocommerce-multi-currency.wmc-shortcode .wmc-current-currency {
	background-color: transparent !important;
}

.wd-dropdown {
	border-radius: 15px !important;
	background-color: #e6effd !important;
}

.whb-top-bar-inner img {
    width: 100%;
    max-width: 100% !important;
    padding: 0px;
	height: 50px;
}
.icon-box-footer .elementor-icon {
    padding: 10px;
    background: #F68B1E;
    border-radius: 5px;
}
.whb-top-bar {
    background-color: #62c1d7;
	margin-bottom: 20px;
}
.whb-general-header {
    margin-bottom: 10px;
}
.page-id-10533 .main-page-wrapper {
    background-color: #66C1D6;
}
.img-set-max img {
    width: 100%;
}
.img-set-max .elementor-column-wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.img-first-set img {
    width: 100%;
}
.about-top-img .elementor-column-wrap {
    padding: 0px !important;
}
.about-icons img {
    padding: 15px;
}
.home-top-main-col img {
    width: 100%;
}
.page-id-10997 .main-page-wrapper {
    background: #F5F5F5;
}
.page-id-11074 .main-page-wrapper {
    background: #F5F5F5;
}
.elementor-accordion .elementor-accordion-item {
    border-left: none;
    border-right: none;
}
.elementor-accordion .elementor-tab-title {
	line-height: 2 !important;
	padding: 10px 20px !important;
}
.labels-rounded {
	top: 6px !important;
	left: 6px !important;
}
.labels-rounded .product-label {
	min-height: 40px !important;
	font-size:	10px !important;
}
.product-label {
	min-width: 40px !important;
}
.wd-buttons .wd-action-btn>a {
	height: 36px !important;
}
.wd-action-btn.wd-style-icon>a {
	width: 40px !important;
}
.wd-buttons.wd-pos-r-t {
	top: 15px !important;
	right: 4px !important;
}
.popup-quick-view .product_title {
	font-size: 20px !important;
}

.woocommerce-currency-switcher-form .wSelect-selected {
	background-size: 35px !important;
}
.woocommerce-currency-switcher-form .wSelect-theme-classic.wSelect {
	border:none !important;
	background-color: #FFFFFF !important;
}
.woocs_auto_switcher {
	width: 45px !important;
}
.wd-product-brands img {
    max-width: 60px !important;
}
.wd-action-btn.wd-style-icon-bg-text>a {
	display: none !important;
}
/*Adjust product sidebar info */
.product_list_widget>li .wd-entities-title {
word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 18px; /* fallback */
   max-height: 64px; /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
/*Hide total sold site-wide*/
.total-sold {
    display: none !important;
    opacity: 0 !important;
}
ul.archive-subcat {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: baseline;
    flex-wrap: wrap;
}
li.subcat-item {
    background: #f6f6f7;
    padding: 5px 20px;
    margin-right: 15px;
    border-radius: 50px;
}
li.subcat-item a {
    color: #002878;
}
li.subcat-item:hover {
    background: #002878;
}
li.subcat-item:hover a {
    color: #fff;
}
/* Limit product title to max 3 lines */
.wd-entities-title {
	 overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical
}

.woocommerce-cart .site-content {
    margin-top: 40px;
}

.dokan-single-store .dokan-list-inline li.dokan-right :is(.dokan-follow-store-button,.dokan-share-btn,.dokan-store-support-btn,.dokan-store-support-btn-wrap .dokan-live-chat) {
    margin-top: 3px;
    padding: 6px 10px;
    top: 0 !important;
}

/*Checkout WooCommerce Pro*/
.form-row-postcode {
	width: 31.5%;
	float: left;
	margin-right: 2.5%;
}

.form-row-city {
	width: 31.5%;
	float: left;
	margin-right: 2.5%;
}

.form-row-state {
	width: 31.5%;
	float: right;
	margin-right: 0;
}

.form-row-city-cm {
	width: 48%;
	float: left;
	margin-right: 0;
}

.form-row-neighborhood {
	width: 48%;
	float: right;
	margin-right: 0;
}
p.vendor-details {
	display: none !important;
}
.single_add_to_cart_button {
	--btn-accented-bgcolor-hover: #FF6A00;
}
.scrollToTop {
	right: 12px !important;
	bottom: 50px !important;
}
.wa__btn_popup .wa__btn_popup_icon {
	height: 50px !important;
	width: 50px !important;
}
/* Product price table checkout */
div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tr {
	display: flex;
}
div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table img {
	padding: 0px;
	border: 0px solid #d8d8d8;
}

/* Make the image container larger Fibosearch*/
span.dgwt-wcas-si {
  width: 65px !important;
}
.dgwt-wcas-si img {
	border: none !important;
}
.dgwt-wcas-style-pirx.dgwt-wcas-search-focused .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
	border-color: #fd681c !important;
}
/* Remove arrow wpml language selector */
.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    top: 9px !important;
	 right: 20px !important;
}
/* Bigger image Sticky Add-to-cart single product below */
.wd-sticky-btn .wd-sticky-btn-thumbnail img {
	max-width: 95px !important;
}
.thumbnails.slick-slider>button {
	width: 100% !important;
}
button#place_order.button.alt, button.button, a.checkout-button.button.alt.wc-forward {
	--btn-accented-bgcolor-hover: #FF6A00 !important;
}
.wd-page-title-el .page-title {
	background-color: #002878;
}		</style>
<style>
		
		</style> <style id="wd-style-header_113734-css" data-type="wd-style-header_113734">
				:root{
	--wd-top-bar-h: 0.001px;
	--wd-top-bar-sm-h: 0.001px;
	--wd-top-bar-sticky-h: 0.001px;

	--wd-header-general-h: 80px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: 60px;

	--wd-header-bottom-h: 60px;
	--wd-header-bottom-sm-h: 60px;
	--wd-header-bottom-sticky-h: 60px;

	--wd-header-clone-h: 0.001px;
}


.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 10px;
}

.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu):after {
	height: 20px;
}

.whb-header-bottom .wd-dropdown {
	margin-top: 10px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 20px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 10px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu):after {
	height: 20px;
}

.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -0px;
	height: calc(100% + 0px);
}


@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 80px;
		max-height: 80px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
		.whb-header-bottom-inner {
		height: 60px;
		max-height: 60px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 60px;
		max-height: 60px;
	}
		
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
		.whb-header-bottom-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
	}
		
.whb-1yjd6g8pvqgh79uo6oce {
	--wd-form-brd-radius: 35px;
}
.whb-row .whb-z4o6eqi1znmtf82f1h6b.wd-tools-element .wd-tools-inner, .whb-row .whb-z4o6eqi1znmtf82f1h6b.wd-tools-element > a > .wd-tools-icon {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(255, 255, 255, 1);
}
.whb-row .whb-z4o6eqi1znmtf82f1h6b.wd-tools-element:hover .wd-tools-inner, .whb-row .whb-z4o6eqi1znmtf82f1h6b.wd-tools-element:hover > a > .wd-tools-icon {
	color: rgba(51, 51, 51, 0.7);
}
.whb-z4o6eqi1znmtf82f1h6b.wd-tools-element.wd-design-8 .wd-tools-icon {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(39, 97, 231, 1);
}
.whb-z4o6eqi1znmtf82f1h6b.wd-tools-element.wd-design-8:hover .wd-tools-icon {
	color: rgba(255, 255, 255, 1);
}
.whb-row .whb-7qrb5r43fmh57lkx4dry.wd-tools-element .wd-tools-inner, .whb-row .whb-7qrb5r43fmh57lkx4dry.wd-tools-element > a > .wd-tools-icon {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(255, 255, 255, 1);
}
.whb-row .whb-7qrb5r43fmh57lkx4dry.wd-tools-element:hover .wd-tools-inner, .whb-row .whb-7qrb5r43fmh57lkx4dry.wd-tools-element:hover > a > .wd-tools-icon {
	color: rgba(51, 51, 51, 0.7);
	background-color: rgba(255, 255, 255, 1);
}
.whb-row .whb-j9nqf397yrj3s8c855md.wd-tools-element .wd-tools-inner, .whb-row .whb-j9nqf397yrj3s8c855md.wd-tools-element > a > .wd-tools-icon {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(255, 255, 255, 1);
}
.whb-row .whb-j9nqf397yrj3s8c855md.wd-tools-element:hover .wd-tools-inner, .whb-row .whb-j9nqf397yrj3s8c855md.wd-tools-element:hover > a > .wd-tools-icon {
	color: rgba(51, 51, 51, 0.7);
	background-color: rgba(255, 255, 255, 1);
}
.whb-j9nqf397yrj3s8c855md.wd-tools-element.wd-design-8 .wd-tools-icon {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(255, 255, 255, 1);
}
.whb-kv1cizir1p1hjpwwydal {
	--wd-form-brd-radius: 35px;
}
.whb-kv1cizir1p1hjpwwydal.wd-search-form.wd-header-search-form-mobile .searchform {
	--wd-form-bg: rgba(255, 255, 255, 1);
}
.whb-header-bottom {
	background-color: rgba(230, 239, 253, 1);
}
